.wrapper h1 {
  margin-top: 10px;
  margin-left: 4.7%;
  margin-bottom: 0%;
}

span {
  margin-top: 0%;
  font-family: "Berkshire Swash", cursive;
  font-size: 20px;
  margin-left: 78%;
}
select {
  font-size: 0.9rem;
  padding: 2px 5px;
  width: 15%;
  height: 50px;
  line-height: 12px;
  border-radius: 5px;
  box-sizing: border-box;
}
#close {
  float: right;
}
#close:hover .dropdown-content {
  display: block;
  margin-top: 1.8%;
  margin-right: 2%;
}

.dot-3::after {
  content: "\2807";
  font-size: 120%;
  float: right;
}

.dot-3:hover .dropdown-content {
  display: block;
  margin-top: 1%;
  margin-right: 1%;
}
.dot-3 h5 {
  text-align: center;
}
.dropdown-content:hover #close {
  display: block;
  margin-top: 1.8%;
  margin-right: 2%;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.responsive-table li {
  border-radius: 3px;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.responsive-table .table-header {
  border-bottom: 1px solid #ccc !important;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}
.responsive-table .table-row {
  background-color: #ffffff;
  border: 1px solid #ccc !important;
  border-radius: 16px;
}
.responsive-table .col-1 {
  flex-basis: 11%;
}
.responsive-table .col-2 {
  flex-basis: 11%;
}
.responsive-table .col-3 {
  flex-basis: 13%;
}
.responsive-table .col-4 {
  flex-basis: 11%;
}
.responsive-table .col-5 {
  flex-basis: 11%;
}
.responsive-table .col-6 {
  flex-basis: 11%;
}
.responsive-table .col-7 {
  flex-basis: 15%;
}
.responsive-table .col-8 {
  flex-basis: 5%;
}
.responsive-table .col-9 {
  flex-basis: 9%;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
  height: 50vh;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#location {
  border-radius: 3px;
  border: none;
  display: block;
  width: 100%;
  color: black !important;
  background-color: white !important;
  font-weight: bolder;
  margin-bottom: 20px;
}
#status {
  border-radius: 3px;
  border: none;
  display: block;
  width: 100%;
  color: black !important;
  background-color: white !important;
  font-weight: bolder;
  margin-bottom: 20px;
}
#location:hover,
#status:hover,
#location:focus #status:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 1200px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
    width: 45%;
    float: left;
    margin:1%;
  }
  .responsive-table .col {
    flex-basis: 100%;
  }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: #6C7A89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 60%;
    text-align: right;
  }
  .dot-3:hover .dropdown-content {
    display: block;
    
  }
  .dropdown {
    margin-right: 20px;
}
#close {
  float: right;
  margin-left: 30px;
}
.wrapper h1 {
  text-align: center;
  margin-bottom: 0%;
}
select {
  font-size: 0.9rem;
  padding: 2px 5px;
  width: 80%;
  margin-left: 60px;
}
}

@media screen and (max-width: 700px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
    width: 90%;
    float: none;
    margin:1%;
  }
  .responsive-table .col {
    flex-basis: 100%;
  }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: #6C7A89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}

