#content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(200px, auto);
    margin: 0 auto;
    grid-template-areas:
      "aside main main main main"
      "aside main main main main"
      "aside main main main main"
      "aside main main main main";
    grid-gap: 5px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    justify-content: space-evenly;
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
  }
  fieldset {
    margin: 10px;
    text-align: right;
  }
  aside {
    grid-area: aside;
  }
  
  .order-section {
    margin-top: 50px;
  }
  .order-section-half {
    float: left;
    width: 38%;
    margin-right: 55px;
  }
  #order-submit-btn {
    margin-top: 10px;
    width: 100%;
    height: 37px;
    border-radius: 5px;
    margin-bottom: 50px;
  }
  .customer-input {
    border: 1px solid #ccc !important;
    padding: 8px;
    display: block;
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin: 10px;
    margin-left: 10px;
    border-radius: 5px;
  }
  .customer-input:focus {
    outline: none;
    box-shadow: 0 0 5px 1px #4169e1;
    color: #191970;
    font-weight: bold;
  }
  .aside {
    padding-bottom: 0;
    height: 100%;
    background-color: transparent;
    display: block !important;
    z-index: -1;
    color: #000 !important;
    background-color: #f1f1f1 !important;
    line-height: 1.5;
  }
  .aside a {
    float: left;
    font-size: 21px;
    margin: 6% 0% 0% 0%;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding-top: 20px;
  }
  .aside::after {
    content: "";
    content: "";
    display: block;
    clear: both;
  }
  section::after {
    content: "";
    display: block;
    clear: both;
  }
  label {
    font-weight: bold;
    font-size: 15px;
    color: black;
    text-transform: capitalize;
  }
  
  @media screen and (max-width: 950px) {
    #content {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-auto-rows: minmax(200px, auto);
      margin: 0 auto;
      grid-template-areas:
        "aside main main main main"
        "aside main main main main"
        "aside main main main main"
        "aside main main main main";
      grid-gap: 5px;
      text-align: center;
      font-family: "Roboto", sans-serif;
      justify-content: space-evenly;
    }
  }
  
  @media screen and (max-width: 750px) {
    #content {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-auto-rows: minmax(200px, auto);
      margin: 0 auto;
      grid-template-areas:
        "aside aside aside aside aside"
        "main main main main main"
        "main main main main main"
        "main main main main main";
      grid-gap: 5px;
      text-align: center;
      font-family: "Roboto", sans-serif;
      justify-content: space-evenly;
    }
    .order-section-half {
      float: left;
      width: 90%;
    }
    #order-submit-btn {
      width: 95%;
    }
    .aside a {
      float: left;
      margin: 6% 0% 0% 5%;
      width: 40%;
    }
  }
  @media screen and (max-width: 450px) {
    #content {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-auto-rows: minmax(200px, auto);
      margin: 0 auto;
      grid-template-areas:
        "aside aside aside aside aside"
        "main main main main main"
        "main main main main main"
        "main main main main main";
      grid-gap: 5px;
      text-align: center;
      font-family: "Roboto", sans-serif;
      justify-content: space-evenly;
    }
    .order-section-half {
      float: left;
      width: 60%;
      margin-left: 40px;
    }
    #order-submit-btn {
      width: 95%;
    }
  }
  