.profile-details{
    float: left;
    margin-left: 10%;
}
.profile-details .details{
    float: left;
    width: 40%;
    text-align: center;
    margin:2%;
    padding: 2%;
    box-shadow: 0 0 2px #BDBDBD;
    height: 300px;
}
.img{
    border-radius: 50%;
    width:100%;
    margin-top: 20px;
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}

