.profile-details{
    float: left;
    margin-left: 10%;
}
.profile-details .details{
    float: left;
    width: 20%;
    text-align: center;
    margin:2%;
    padding: 2%;
    box-shadow: 0 0 2px #BDBDBD;
    height: 150px;
}

a{
    text-decoration: none;
    color: black;
    /* font-family: 'Roboto', sans-serif; */
}
.profile-clear {
    width: 60%;
    margin: 60px auto;
    border-radius: 5px;
    margin-top: 100px;
  }
  .myname {
    display: block;
    text-align: center;
  }
  
  .man-image {
    margin: 35px;
    border-radius: 50%;
    min-width: 50px;
    min-height: 0px;
  }
  .profile {
    margin-top: 10px;
    float: left;
    width: 40%;
    height: 400px;
    border: 10px solid white;
    box-shadow: 0 0 5px #bdbdbd;
    margin: 1%;
    text-align: center;
    padding: 1%;
  }
  
  .profile a {
    margin-top: 30px;
    font-family: "Berkshire Swash", cursive;
    font-size: 20px;
    display: block;
    color: #000000;
    text-decoration: none;
  }
  
  .profile a:hover {
    cursor: pointer;
    background-color: #ddd;
    color: black;
  }
  .man-image-head {
    width: 30px;
  }
  .profile p {
    margin: 0%;
  }
  
  /**
  drop down for user
  */
  .dropbtn:after {
    content: "\2807";
    font-size: 120%;
  }
 
  .dropdown-clear{
    content: "";
    display: block;
    clear: both;
  }
.dropdown {
    margin-right: 30px;
    display: flex;
    justify-content: flex-end;
    border: 5px;
    color: black;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  
}

.clearfloat{
  content:"";
  display:flex;
  clear:both;
}
.dropdown-content p{
  text-align: left;
  padding: 10px;
}

.dropdown-content {
    margin-right: 30px;
    overflow: hidden;
    display: none;
    position: absolute;
    border: 5px solid white;
    right: 5px;
    background-color: #fff;
    color: #000;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width:13%;
}

.dropdown-content a {
  color: black;
  padding: 4px 4px;
  text-decoration: none;
  display: flex;
  margin:3%;
  width:100%;
}
.dropdown:hover .dropdown-content{
  display:flex;
  justify-content: flex-start;
  margin-top:-10px;
  flex-direction: column;
}
.dropdown a:hover {background-color: #ddd;}

.show {
  display: block;
}