#messageText {
  margin: 0px;
  padding: 5px;
  text-align: center;
  color: rgb(255, 80, 80);
}
.input-section {
  width: 360px;
  float: right;
  border: 1px solid black;
  box-shadow: 0 0 5px #bdbdbd;
  margin-right: 200px;
  border-radius: 5px;
  margin-top: 5%;
  margin-bottom: 15px;
}

.text-center {
  font-size: 30px;
  margin: 10px auto;
  display: block;
  text-align: center;
  font-family: 'Berkshire Swash', cursive;
}

.signup {
  margin-top: 6%;
  float: none;
  margin-left: 500px;
  margin-right: 30px;
}
.form-box {
  padding: 10px 25px 20px 25px;
}

.input-box {
  width: 95%;
  padding: 10px;
  font-size: 12px;
  margin: 5px;
  border-radius: 3px;
  box-shadow: 0 0 1px 1px #444;
  background-color: white;
}

.input-box:focus {
  outline: none;
}

#account a {
  color: #42a5f5;
}

#account {
  text-align: center;
  font-size: 10px;
  margin-bottom: 1px;
}

#account p {
  margin-bottom: 1px;
}

.input-row {
  margin: 5px 0 5px 0;
}

.signin-text {
  float: left;
  margin-left: 250px;
  margin-top: 80px;
  width: 30%;
}
.signin-text h1 {
  margin-bottom: 0%;
}

.sign-img:after {
  content: '';
  display: block;
  clear: both;
}
.submit-btn {
  width: 95%;
  padding: 10px;
  font-size: 15px;
  margin: 5px;
  margin-top: 20px;
  text-decoration: none;
  text-align: center;
  display: block;
  cursor: pointer;
  color: #fff;
  background-color: #4caf50;
  border-color: #999;
  border-radius: 3px;
}
.submit-btn:hover {
  background: #4caf50;
}
.submit-btn:focus {
  outline: none;
}
.modal {
  /* display: none; */
  position: fixed;
  background-color: rgb(0, 0, 0, 0.4);
  z-index: 1;
  top: 0;
  left: 0;
  overflow: auto;
  padding-top: 15%;
  width: 100%;
  height: 100%;
}
.modal-dest {
  /* display: none; */
  position: fixed;
  background-color: rgb(0, 0, 0, 0.4);
  z-index: 1;
  top: 0;
  left: 0;
  overflow: auto;
  padding-top: 15%;
  width: 100%;
  height: 100%;
}
.modal-content {
  background-color: white;
  padding: 5%;
  padding-top: 0;
  width: 40%;
  min-width: 300px;
  margin: 0 auto;
  border-radius: 9px;
  font-family: Roboto;
}
.text-dark {
  color: #3f3f44;
}
#modal-btn:hover,
#dest-btn:hover {
  background-color: #11e218;
}
.modal-content h4 {
  margin-top: 4%;
  margin-bottom: 8%;
  color: #4caf50;
  text-align: center;
}
.modal-content p {
  padding: 5%;
  text-align: justify;
}
#modal-btn {
  margin-top: 6%;
  border-radius: 6px;
  padding: 1% 2%;
  background-color: #4caf50;
  color: white;
  float: right;
  outline: none;
}
#dest-btn {
  margin-top: 10%;
  border-radius: 6px;
  padding: 1% 2%;
  background-color: #4caf50;
  color: white;
  float: right;
  outline: none;
}
.clearfix {
  overflow: auto;
}
.wrapper {
  height: 100%;
  overflow: auto;
}

.email-container {
  border: solid 2px #4caf50;
  padding: 0 5px;
  margin-top: 10px;
  border-radius: 6px;
}
.dest-container {
  border: solid 2px #4caf50;
  padding: 0 5px;
  margin-top: 10px;
  border-radius: 6px;
  outline: none;
}
.email-container input {
  border: none;
  border-left: solid 1px tomato;
  font-size: 110%;
  padding: 5px;
  width: 85%;
  outline: none;
  height: 30px;
}
.dest-container input {
  border: none;
  border-left: solid 1px tomato;
  font-size: 110%;
  padding: 5px;
  width: 85%;
  outline: none;
  height: 30px;
}
.email-container i {
  font-size: 120%;
}
.close {
  float: right;
  font-size: 250%;
  font-weight: bold;
  cursor: pointer;
}
.close-dest {
  float: right;
  font-size: 250%;
  font-weight: bold;
  cursor: pointer;
}
.close:hover {
  color: tomato;
}
.close-dest:hover {
  color: tomato;
}
#forgot-pswd {
  display: block;
  width: 95%;
  padding: 10px;
  font-size: 10px;
  margin: 5px;
  margin-top: 20px;
  text-decoration: none;
  text-align: center;
  color: #42a5f5;
}
#forgot-pswd:hover {
  color: #42a5f5;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  font-family: 'Berkshire Swash', cursive;
}
.footer-login {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  font-family: 'Berkshire Swash', cursive;
}
.footer-order {
  position: absolute;
  left: 0;
  /* bottom: 0; */
  right: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  font-family: 'Berkshire Swash', cursive;
}
@media screen and (max-width: 1098px) {
  .sign-img {
    width: 100%;
  }
  .input-section {
    width: 40%;
    margin-right: 20%;
  }
  .signup {
    float: none;
    margin-left: 200px;
    margin-bottom: 50px;
  }
  .signin-text {
    margin-left: 50px;
    margin-top: 80px;
    width: 80%;
  }
  footer {
    /* bottom: unset; */
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
  }
  .footer-order {
    position: absolute;
    left: 0;
    bottom: unset;
    right: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
  }
  .pagination {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  .footer-login {
    bottom: unset;
  }
}

@media screen and (max-width: 750px) {
  .input-section {
    width: 60%;
  }
  .signup {
    width: 60%;
    float: none;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
  }
  .signin-text {
    margin-left: 50px;
    margin-top: 80px;
    width: 80%;
  }
  footer {
    /* bottom: unset; */
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
  }
  .footer-login {
    bottom: unset;
  }
}

@media screen and (max-width: 450px) {
  .input-section {
    width: 70%;
    margin-right: 10%;
  }
  .signup {
    width: 70%;
    float: none;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
  }
  .signin-text {
    margin-left: 50px;
    margin-top: 80px;
    width: 80%;
  }
  footer {
    /* bottom: unset; */
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
  }
  .footer-login {
    bottom: unset;
  }
}
